# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of go build
/tmp/
/build/
bin/
*.log

# Go workspace files
go.work
go.work.sum

# OS files
.DS_Store
Thumbs.db

# IDE/editor config
.vscode/
.idea/
*.swp

# dotenv files
config/.env
